# =========================
# Files in bin folders
# =========================
Site/[Bb]in/*

# =========================
# Value Converters
# =========================
BuildPackage/artifacts/*
BuildPackage/Package/*

# =========================
# Umbraco
# =========================
Site/App_Data/umbraco.config
Site/App_Data/preview/*.config
Site/App_Data/TEMP/ClientDependency/
Site/App_Data/TEMP/DistCache/
Site/App_Data/TEMP/ExamineIndexes/
Site/App_Data/TEMP/PluginCache/*
Site/App_Data/TEMP/SEOChecker/
Site/App_Data/TEMP/Razor/
Site/App_Data/umbraco.licensing.log.txt
Site/aspnet_client/
Site/App_Data/*.udt
Site/App_Data/NuGetBackup/*
Site/App_Data/Logs/*
Site/Media/*
# =========================
# ImageProcessor DiskCache
# =========================
Site/App_Data/cache/*

# =========================
#Grunt, Sass & Bower
# =========================
**/node_modules
**/node_modules/*
**/.sass-cache
**/.sass-cache/*
**/bower_components
**/bower_components/*
Site/lib/*
Site/css/lib/*
Site/scripts/lib/*
Site/css/main.css
Site/css/main.css.map

Site/dist/


# Ignore Umbraco content cache file
!**/App_Data/umbraco.config
!**/App_Data/umbraco.sdf

# Don't ignore Umbraco packages (VisualStudio.gitignore mistakes this for a NuGet packages folder)
# Make sure to include details from VisualStudio.gitignore BEFORE this
!**/App_Data/[Pp]ackages/
!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages
*.sdf
